#sidenav-container {
    height: 100%;
}

#sidenav {
    width: 350px;
}

@media (max-width: 350px) {
    #sidenav {
        width: 100%;
    }
}

#sidenav-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    transition: background-color 0.25s ease;
}

#routine-select {
    width: 100%;
}

.big-icon {
    transform: scale(2);
}

.task-button {
    border-bottom: solid 1px black;
}

.task-button:first-child {
    border-top: solid 1px black;
}