<mat-sidenav-container id="sidenav-container">
    <mat-sidenav #sidenav mode="side" id="sidenav" opened>

        <mat-form-field id="routine-select">
            <mat-label>Routine</mat-label>
            <mat-select [(ngModel)]="activeRoutine" (selectionChange)="onActiveRoutineChange($event)">
                <mat-option *ngFor="let routine of routines" [value]="routine">{{routine.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="taskTrackingService.isAutoStartNextTask">autostart tasks</mat-checkbox>
        <mat-checkbox [(ngModel)]="taskTrackingService.isAutoRepeatRoutine">autorestart routine</mat-checkbox>
        <div class="flex-column">
            <button mat-flat-button *ngFor="let task of activeRoutine?.tasks" class="multiline-button" [style.backgroundColor]="task.color"
                [class.highlight]="task === activeTask" (click)="onTaskSelect(task)">{{task.name}}<br>{{task.time |
                formatTime}}</button>
        </div>
    </mat-sidenav>
    3
    <mat-sidenav-content id="sidenav-content" [style.backgroundColor]="adjustedBackgroundColor$ | async">
        <button mat-mini-fab id="sidenav-toggle-button" (click)="sidenav.toggle()">
            <mat-icon *ngIf="sidenav.opened">navigate_before</mat-icon>
            <mat-icon *ngIf="!sidenav.opened">navigate_next</mat-icon>
        </button>

        <ng-container *ngIf="activeRoutine && activeRoutine.tasks.length > 0">
            <!-- task timer -->
            <div>{{activeTask?.name}}</div>
            <div>{{timeRemaining | formatTime}}</div>
            <div class="flex-center">
                <button mat-fab (click)="skipTask()">
                    <mat-icon>skip_previous</mat-icon>
                </button>
                <button mat-fab (click)="toggleTaskPaused()">
                    <mat-icon>{{isPaused ? 'play_arrow' : 'pause'}}</mat-icon>
                </button>
                <button mat-fab (click)="skipTask()">
                    <mat-icon>skip_next</mat-icon>
                </button>
            </div>
        </ng-container>

    </mat-sidenav-content>
</mat-sidenav-container>