#sidenav-container {
    height: 100%;
}

#sidenav {
    width: 350px;
}

#sidenav-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    transition: background-color 0.25s ease;
}

#sidenav-toggle-button {
    margin: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

#routine-select {
    width: 100%;
}

.big-icon {
    transform: scale(2);
}