<mat-sidenav-container id="sidenav-container">


    <mat-sidenav #sidenav mode="side" id="sidenav" [opened]="appStateService.values['/timer.isSidebarOpen']">

        <mat-form-field id="routine-select">
            <mat-label>Routine</mat-label>
            <mat-select [(ngModel)]="activeRoutine" (selectionChange)="onActiveRoutineChange($event)">
                <mat-option *ngFor="let routine of routines" [value]="routine">{{routine.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="taskTrackingService.isAutoStartNextTask">autostart tasks</mat-checkbox>
        <mat-checkbox [(ngModel)]="taskTrackingService.isAutoRepeatRoutine">autorestart routine</mat-checkbox>
        <div class="flex-column">

            <button mat-flat-button *ngFor="let task of activeRoutine?.tasks; let index = index"
                class="multiline-button sharp-edges task-button" [style.backgroundColor]="adjustedTaskColors$[index] | async"
                [class.highlight]="task === activeTask" (click)="onTaskSelect(task)">{{task.name || 'Unnamed
                Task'}}<br>{{task.time |
                formatTime}}
            </button>
        </div>
    </mat-sidenav>


    <mat-sidenav-content id="sidenav-content" [style.backgroundColor]="adjustedBackgroundColor$ | async">

        <ng-container *ngIf="activeRoutine && activeRoutine.tasks.length > 0">
            <!-- task timer -->
            <div>{{activeTask?.name || 'Unnamed Task'}}</div>
            <div>{{timeRemaining | formatTime}}</div>
            <div class="flex-center">
                <button mat-icon-button (click)="prevTask()">
                    <mat-icon class="big-icon">skip_previous</mat-icon>
                </button>
                <button mat-icon-button (click)="toggleTaskPaused()">
                    <mat-icon class="big-icon">{{isPaused ? 'play_arrow' : 'pause'}}</mat-icon>
                </button>
                <button mat-icon-button (click)="nextTask()">
                    <mat-icon class="big-icon">skip_next</mat-icon>
                </button>
            </div>
        </ng-container>

    </mat-sidenav-content>


</mat-sidenav-container>