<div class="main-container flex-container">

    <!-- routines-->
    <div class="left-menu overflow-scroll">
        <mat-list>

            <ng-container *ngFor="let routine of routines;">
                <mat-list-item>
                    <div class="flex-container">
                        <button mat-button class="multiline-button flex-item-1-1" (click)="selectRoutine(routine)"
                            [class.highlight]="routine===selectedRoutine">
                            {{routine.name}}</button>
                    </div>
                </mat-list-item>
            </ng-container>

            <mat-list-item class="add-button-container">
                <div class="add-button-container">
                    <button mat-mini-fab (click)="addRoutine()"><mat-icon>add</mat-icon></button>
                </div>
            </mat-list-item>

        </mat-list>
    </div>


    <!-- tasks -->
    <div class="flex-item-1-1 overflow-scroll">
        <mat-list>

            <ng-container *ngIf="selectedRoutine">
                <ng-container *ngFor="let task of selectedRoutine.tasks;">
                    <div>
                        <mat-list-item>
                            <div class="flex-center task-container">
                                <app-task class="flex-item-1-1 task" [routine]="selectedRoutine" [task]="task"></app-task>
                            </div>
                        </mat-list-item>
                    </div>
                </ng-container>
            </ng-container>

            <mat-list-item class="add-button-container">
                <div class="add-button-container">
                    <button mat-mini-fab [disabled]="!selectedRoutine"
                        (click)="addTask()"><mat-icon>add</mat-icon></button>
                </div>
            </mat-list-item>

        </mat-list>
    </div>
</div>