@use '@angular/material' as mat;

#sidenav-container {
    height: 100%;
}

#sidenav {
    width: 350px;
}

.drag-handle {
    width: 40px;
    height: 40px;
    margin: 2px;
}

.task-list {
    max-width: 800px;
    margin: 0 auto;
}

.task-list-item {
    display: flex;
    justify-content: space-between;
}

.add-button-container {
    display: flex;
    flex-direction: row;
    // horizontally centered
    justify-content: center;
    // veritcally put it at the top
    align-items: flex-start;
    padding-top: 10px;
    // prevent bottom cutoff for the button's shadow
    height: 80px;
}

mat-list {
    padding: 0 !important;
}

// some changes to the default layout of mat-list
// which by default only allows fixed-height items
mat-list-item {
    min-height: 0px !important;
    height: fit-content !important;
    padding: 0 !important;
}

// Zebra Stripes
mat-list-item:nth-child(odd):not(:last-child) {
    background-color: rgba(0, 0, 0, 0.12);
}

// Zebra Stripes
mat-list-item:nth-child(even):not(:last-child) {
    background-color: rgba(0, 0, 0, 0.02);
}

mat-list-item:not(:last-child) {
    border-bottom: 1px solid black;
}