@use '@angular/material' as mat;
@import '../../../theme.scss';

.highlight {
    background-color: mat.get-theme-color($theme, primary, 800);
    color: white;
}

.add-button-container {
    display: flex;
    flex-direction: row;
    // horizontally centered
    justify-content: center;
    // veritcally put it at the top
    align-items: flex-start;
    padding-top: 10px;
    // prevent bottom cutoff for the button's shadow
    height: 80px !important;
}

.left-menu {
    width: 200px;
}

.task {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.task-container {
    padding-bottom:16px;
}

// some changes to the default layout of mat-list
// whoch only allows fixed-height items
mat-list-item {
    min-height: 0px !important;
    height: fit-content !important;
    padding: 2px 4px !important;
}