<mat-sidenav-container id="sidenav-container">


    <mat-sidenav id="sidenav" mode="side" [opened]="appStateService.values['/routines.isSidebarOpen']">

        <mat-list>

            <ng-container *ngFor="let routine of routines; let index=index">
                <mat-list-item>
                    <div class="flex-center" [class.highlight]="routine===selectedRoutine">

                        <ng-container *ngIf="routine!==selectedForEditRoutine">
                            <button mat-button class="flex-item-1-1 multiline-button sharp-edges mat-list-mat-button"
                                [class.highlight]="routine===selectedRoutine" (click)="selectRoutine(routine)">
                                {{routine.name}}</button>
                            <button mat-icon-button class="margin-1"
                                (click)="editRoutine(routine)"><mat-icon>edit</mat-icon>
                            </button>
                        </ng-container>

                        <ng-container *ngIf="routine===selectedForEditRoutine">
                            <input #name type="text" class="flex-item-1-1" [value]="routine.name"
                                (keydown.enter)="name.blur()" (keydown.escape)="name.blur()"
                                (blur)="saveRoutine(routine, name.value)">
                            <button mat-icon-button class="margin-1"
                                (click)="saveRoutine(routine, name.value)"><mat-icon>save</mat-icon>
                            </button>
                        </ng-container>

                        <button mat-icon-button class="margin-1"
                            (click)="deleteRoutine(routine)"><mat-icon>close</mat-icon>
                        </button>

                    </div>
                </mat-list-item>
            </ng-container>

            <mat-list-item class="add-button-container">
                <div class="add-button-container">
                    <button mat-mini-fab (click)="addRoutine()"><mat-icon>add</mat-icon></button>
                </div>

            </mat-list-item>

        </mat-list>

    </mat-sidenav>


    <mat-sidenav-content>

        <mat-list cdkDropList class="task-list" (cdkDropListDropped)="onTaskListDrop($event)">

            <ng-container *ngIf="!(selectedRoutine===null)">
                <ng-container *ngFor="let task of selectedRoutine.tasks; let index=index;">

                    <mat-list-item cdkDrag>
                        <div class="task-list-item flex-center">
                            <div class=" margin-1">
                                <div class="flex-center drag-handle mat-elevation-z4" cdkDragHandle>
                                    <mat-icon>drag_handle</mat-icon>
                                </div>
                            </div>
                            <app-task class="flex-item-1-1 flex-center" [routine]="selectedRoutine"
                                [task]="task"></app-task>
                            <div>
                                <button mat-icon-button class=" margin-1"
                                    (click)="duplicateTask(selectedRoutine, task)"><mat-icon>content_copy</mat-icon>
                                </button>
                                <button mat-icon-button class=" margin-1"
                                    (click)="deleteTask(selectedRoutine, task)"><mat-icon>close</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-list-item>

                </ng-container>
            </ng-container>

            <mat-list-item class="add-button-container">
                <div class="add-button-container">
                    <button mat-mini-fab [disabled]="!selectedRoutine"
                        (click)="selectedRoutine && addTask(selectedRoutine)">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </mat-list-item>

        </mat-list>

    </mat-sidenav-content>


</mat-sidenav-container>