@use '@angular/material' as mat;
@import '../../../theme.scss';

:host {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    max-width: fit-content;
}

input[type="color"],
input[type="number"] {
    width: 48px;
}

input[type="text"] {
    width: 198px;
}

input {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 1px;

    height: 48px;

    background-color: mat.get-theme-color($theme, background, dialog);
    color: mat.get-theme-color($theme, foreground, text);
}

input:focus {
    outline: none;
    border-color: white; // todo change static color to variable
}
