@use '@angular/material' as mat;
@import '../../../theme.scss';

:host {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    max-width: fit-content;
}

input[type="color"],
input[type="number"] {
    width: 48px;
}

input[type="text"] {
    width: 198px;
}

input {
    height: 48px;
}
