<mat-toolbar color="primary" class="main-container flex-item-1-1 mat-elevation-z4">

    <!-- left -->
    <div class="toolbar-item">
        <!-- optional sidepanel button-->
        <button *ngIf="isShowSidebarToggle" mat-icon-button (click)="toggleSidebar()">
            <mat-icon *ngIf="appStateService.values[sidebarOpenKey]">chevron_left</mat-icon>
            <mat-icon *ngIf="!appStateService.values[sidebarOpenKey]">chevron_right</mat-icon>
        </button>
    </div>

    <!-- center-->
    <div class="flex-center toolbar-item">
        <!-- links side-by-side for wide screens -->
        <ng-container *ngIf="!isSmallScreen">
            <a mat-button *ngFor="let link of links" routerLink="{{link.url}}" routerLinkActive="highlight">{{link.label}}</a>
        </ng-container>

        <!-- Menu button for narrow screens -->
        <ng-container *ngIf="isSmallScreen">
            <button mat-icon-button (click)="toggleMenu()" class="menu-button">
                <mat-icon>menu</mat-icon>
            </button>
        </ng-container>
    </div>
    <!-- right-->
    <div class="flex-end toolbar-item">
        <button mat-icon-button (click)="toggleDarkMode()"><mat-icon>dark_mode</mat-icon></button>
    </div>

</mat-toolbar>

<!-- Floating panel for navigation menu on small screens -->
<ng-container *ngIf="isShowMenu && isSmallScreen">
    <div class="menu-panel mat-elevation-z4">
        <a *ngFor="let link of links" routerLink="{{link.url}}" routerLinkActive="highlight"
            (click)="toggleMenu()">{{link.label}} </a>
    </div>
</ng-container>