@use '@angular/material' as mat;
@import '../../../theme.scss';

.menu-panel {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    background-color: mat.get-theme-color($theme, primary, default);
}

.menu-panel>a {
    border-bottom : 1px solid mat.get-theme-color($theme, primary, default-contrast);;
}

.menu-panel>a:first-child {
    border-top : 1px solid mat.get-theme-color($theme, primary, default-contrast);;
}

.mat-toolbar {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: mat.get-theme-color($theme, primary, default-contrast);
    text-align: center;
    padding: 8px;
}