<mat-toolbar color="primary">
    <div>
        <a routerLink="/timer" routerLinkActive="active-button"><button mat-flat-button color="primary">Timer</button></a>
        <a routerLink="/routines" routerLinkActive="active-button"><button mat-flat-button color="primary">Routines</button></a>
        <a routerLink="/timeline" routerLinkActive="active-button"><button mat-flat-button color="primary">Timeline</button></a>
        <a routerLink="/progress" routerLinkActive="active-button"><button mat-flat-button color="primary">Progress</button></a>
        <a routerLink="/goals" routerLinkActive="active-button"><button mat-flat-button color="primary">Goals</button></a>
    </div>
</mat-toolbar>