@use '@angular/material' as mat;

.main-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.toolbar-item {
    flex: 1 1 0;
}

.mat-toolbar {
    display: flex;
    align-items: center;
    height: 100%;
}

.menu-panel {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

a {
    text-decoration: none;
    text-align: center;
    padding: 8px;
}