@use '@angular/material' as mat;

.menu-panel {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.mat-toolbar {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    text-align: center;
    padding: 8px;
}