@import 'theme.scss';
@import 'scrollbar.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

input {
    font-size: 1em;
}

* {
    font-family: 'Courier New', Courier, monospace
}

.main-container {
    max-width: 900px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
    max-height: calc(100vh - 64px); // this is hacky: height of toolbar is 64px
}

.flex-container {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item-1-1 {
    flex: 1 1 auto;
}

.overflow-scroll {
    overflow-y: scroll;
}

// overwrites mat-buttons fixed height and no-wrap properties.
// angular material library uses fixed-size for button height
// which is very restrictive. E.g. if you change font size to over 36px (mat button height)
// the text will actually overflow from the button
.multiline-button {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    height: fit-content !important;
    padding: 8.5px !important;
}