@use '@angular/material' as mat;
@import 'theme.scss';
@import 'styles/scrollbar.scss';
@import 'styles/common-classes.scss';

html,
body {
    max-height: 100vh;
    margin: 0;
    padding: 0;
}

input {
    font-size: 1em;
    background-color: mat.get-theme-color($theme, background, dialog);
    color: mat.get-theme-color($theme, foreground, text);
    box-sizing: border-box;
    border: 1px solid black;
    margin: 1px;
}

input:focus {
    outline: none;
    border-color: mat.get-theme-color($theme, primary, default);
}

* {
    font-family: 'Courier New', Courier, monospace
}

// layout for page content
.main-container {
    box-sizing: border-box;
    max-width: 1200px;
    height: calc(100vh - 84px); // 64px for toolbar, 10px * 2 for margins
    margin: 10px auto;
}

// overwrites mat-buttons fixed height and no-wrap properties.
// angular material library uses fixed-size for button height
// which is very restrictive. E.g. if you change font size to over 36px (mat button height)
// the text will actually overflow from the button
.multiline-button {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    height: fit-content !important;
    padding: 8.5px !important;
}

.highlight {
    background-color: mat.get-theme-color($theme, primary, 800) !important;
    color: mat.get-theme-color($theme, primary, 800-contrast) !important;
    font-weight: bold !important;
}